.appcontainer {
  background-color: black;
  width: 100%;
  height: 1000vh;
}
.navbarLink {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.me-2:focus {
  border-color: black;
}

.banner {
  width: 100%;
  height: 600px;
  background-position: 50%;
  background-size: cover;
}

.banner::before {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.bannerString {
  position: relative;
  color: white;
  width: 35%;
  border: 1px solid white;
  height: 50%;
  top: 35%;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  /* -webkit-line-clamp: 3; */
  left: 80px;
  font-family: sans-serif;
}

.homeBottom {
  margin-top: 100px;
  margin-left: 30px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.homeContainer h2 {
  position: relative;
  top: 90px;
  left: 10%;
}

/* ------------------------------- */

.slideContainer {
  width: 1200px;
  height: 400px;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.slideItme {
  width: 300px;
  height: 200px;
  background-color: bisque;
  flex-grow: 1;
}

.second {
  height: 300px;
  display: flex;
  align-items: center;
  top: 20%;
  position: absolute;
  transform: translateX(-1200px);
}

.btn1 {
  position: absolute;
  left: 10px;
  bottom: 180px;
  width: 30px;
  height: 30px;
  user-select: none;
  border-radius: 50%;
  border: none;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.432);
}

.btn2 {
  position: absolute;
  right: 10px;
  bottom: 180px;
  width: 30px;
  height: 30px;
  user-select: none;
  border-radius: 50%;
  border: none;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.432);
}

@media (max-width: 1200px) {
  .slideContainer {
    width: 900px;
  }
  .btn1 {
    bottom: 150px;
  }

  .btn2 {
    bottom: 150px;
  }
}

@media (max-width: 960px) {
  .slideContainer {
    width: 600px;
  }
}

@media (max-width: 680px) {
  .slideContainer {
    width: 300px;
  }
}
/* ---------------------------------- */

.slideImg {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 300px;
  height: 200px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.767);
}
.slideItme:hover .overlay {
  opacity: 10;
}

.slideItme:hover .slideItme {
  width: 350px;
  height: 250px;
}

.slideContainer {
  margin: 10px auto;
}

.sildeTitle {
  font-family: sans-serif;
  padding: 15px;
  font-weight: bold;
}

.hrborder {
  width: 70px;
  border: 1px solid white;
}

.sildeBotton {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.badgebar {
  margin: 0 3px;
}

.bottompadding {
  margin-left: 15px;
}

.detailmain {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: rgb(0, 0, 0);
  background-image: url("https://images.unsplash.com/photo-1638184984605-af1f05249a56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D&w=1000&q=80");
  background-position: center;
  background-size: cover;
}

.detailmain h1 {
  color: white;
  font-family: sans-serif;
}
.detailmain input {
  width: 350px;
  height: 40px;
  margin-top: 30px;
  padding-left: 10px;
}

.detailmain input:focus {
  outline: none;
}

.detainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.detainContainer img {
  height: 800px;
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .detainContainer img {
    height: 500px;
  }
}

.detailBoxStringTop {
  width: 100%;
  padding-top: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid white;
  /* display: flex; */
}

.detailbadge {
  margin: 0 15px 20px 0;
}

.detailBoxStringTop p {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 40px;
}

.drtailFont {
  font-size: 19px;
  margin: 10px 0;
  align-self: baseline;
  /* color: #ecdc4c; */
}

.bottomDetailbadge {
  width: 100%;
  border-top: 1px solid white;
  padding-top: 25px;
  /* display: flex;
  flex-direction: column; */
  /* height: 300px; */
}

.bottomDetailbadge p {
  margin-bottom: 3px;
}

.likeAndtTrailer {
  width: 100%;
  height: 100px;
  border-top: 1px solid white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: bisque;
}

.likeAndtTrailer a {
  width: 130px;
  display: inline;
  font-size: 18px;
  cursor: pointer;
}

.detailHeart {
  display: inline;
}

#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.ModalBox {
  background-color: rgba(2, 1, 1, 0.493);
  position: fixed;
  width: 100%;
  height: 100%;
  color: red;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.secondModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.reviewContainer {
  width: 70%;
  border: 3px solid white;
  margin: 200px auto;
  color: rgba(255, 255, 255, 0.792);
}

.relatedContainer {
  width: 70%;

  margin: 200px auto;
  color: rgba(255, 255, 255, 0.792);
}

.ReviewButton {
  position: relative;
  top: -100px;
}

.ReviewButton button {
  margin-right: 20px;
}

.reviewBox {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding: 10px;
}

.relatedBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewImg {
  margin: 40px;
  width: 400px;
}

.relatedOverlay {
  opacity: 0;
}

.reviewImg:hover {
  height: 300px;
  transition: 0.5s ease-in-out;
}

.reviewImg:hover .relatedOverlay {
  opacity: 1;
  height: 300px;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.517);
}

.moviePageContainer {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  /* background-color: #CC8EF5; */
}

.moviePageCards {
  position: relative;
  width: 330px;
  height: 500px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-color: #000000b8;
}

.moviePageCards::before {
  width: 330px;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.moviePageTitle {
  position: relative;
  width: 200px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.moviePageBadge {
  position: relative;
  width: 50%;
  margin: 20px 0;
}

.moviePageBadgeCompo {
  margin: 4px;
  font-family: sans-serif;
}

.moviePageOverview {
  position: relative;
  width: 180px;
  height: 100px;
  overflow: hidden;
}

.moviePageCardbottom {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.pagination {
  position: absolute;
  right: 30%;
  margin-top: 30px;
}

.pageItem {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.576);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pageItem a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.pageItem a:hover {
  color: white;
}

.active {
  background-color: rgb(164, 58, 58);
}

.moviePageLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sortContainer {
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.sortBox {
  width: 300px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.sortBox h4 {
  margin: 0px;
}

.Arrow {
  position: absolute;
  right: 15px;
}

.innerSortBox {
  width: 300px;
  height: 150px;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: #22222200;
  text-align: center;
}

select:hover {
  border-color: #888;
  text-decoration: none;
}

select:focus {
  border-color: #aaa;
  color: white;
  outline: none;
}

.filterContainer {
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px 0;
}

.filterBox {
  width: 300px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.filterBox h4 {
  margin: 0px;
}

.innerFilterBox {
  width: 300px;
  height: 200px;
  border-top: 1px solid white;
}

.genreFilterBox {
  width: 300px;
  height: 500px;
  padding: 10px;
  border-top: 1px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: sans-serif;
  /* padding-bottom: 30px; */
}

.slider {
  width: 250px;
  height: 2px;
  margin-top: 20px;
  background-color: rgb(164, 58, 58);
}

.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(164, 58, 58);
  transform: translatey(-10px);
}

/* -------------------------- */

.genreFilterBox {
  position: relative;
}
.genreFilterBox button {
  position: relative;
  border: none;
  color: white;
  margin: 7px;
  border-radius: 5px;
  padding: 7px;
  padding-top: 10px;
  /* border: 1px solid rgb(164, 58, 58); */
  background-color: #c8252594;
  cursor: pointer;
}

/* .genreFilterBox button::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to left, rgb(0, 0, 0), transparent);
} */

.genreFilterBox h3 {
  display: flex;
  justify-content: center;
}
